#nav ul {
    list-style-type: none;
    overflow: auto;
}

#nav li {
    float: left;
    margin: auto;
    width: 50%;
}

#nav li a {
    display: block;
    padding: 16px;
    margin:auto;
    text-align: center;
    background-color: lightskyblue;
    color: black;
}

#nav li a:link {
    text-decoration: none;
}

#nav li a:hover {
    background-color: deepskyblue;
}