@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");
/*font-family: 'M PLUS 1p', sans-serif;*/

* {
  background-color: #eff6ee;
  color: black;
  font-family: "M PLUS 1p", sans-serif;
}

body {
  display: grid;
  grid-template-columns: minmax(200px, 20%) 1fr;
  padding: 0;
  margin: 0;
}

.sidebar {
  height:100vh;
  background: #466174;
  font-size: 2rem;
  text-align: center;
}

#content-scrollable {
  padding: 3rem;
  max-height: 800px; 
  overflow-y: scroll;
}

.myPhoto {
  max-width: 85%;
  margin-top: 5%;
  height: auto;
  border-radius: 5px;
}

h1 {
  color: #466174;
  font-family: "M PLUS 1p", sans-serif;
  text-align: center;
}

a {
  background-color: #466174;
  color: #eff6ee;
  font-size: large;
  text-decoration: none;
}
a:hover {
  color: grey;
}

hr {
  border: 1px solid #eff6ee;
}
i {
  background-color: #466174;
  color: #eff6ee;
}


