body {
font-family: verdana, sans-serif;
background-color: lightgray;
}
.code {
/* Sets the font family */
font-family: "courier new", consolas, monospace;
/* Adds the black border to the div area */
border: 1px solid black;
/* Sets the background colour using the rgba method. note that 255,255,255 is white. The end .5 adds 50% transparency, providing the light grey colour when mixed with the background colour of the <body>*/
background-color: rgba(255,255,255,.5);
}
/* note, these rules will only apply to the first line of a text element */
.in1tab { text-indent: 40px; }
.in2tab { text-indent: 80px; }
.comment { color: green; }
a:link { color: darkorange; }
a:visited { color: darkorange; }
#signature {
font-size: 0.8em;
font-family: impact, fantasy;
}
/* This selector applies it's rules ONLY to <span> elements inside an element with an id of 'signature'*/
#signature span {
font-style: italic;
}
