@media screen and (max-width: 600px) {
    #wrapper {
        width: 600px;
    }
    
    .col1, .col2 {
        clear:both;
        width:100%;
    }
    
    
}

@media screen and (min-width: 960px) {
    #wrapper {
        width: 960px;
    }
}
